<h2 class="text-muted">
  <% if @posts.any? %>
    <%= pluralize(@posts.count, "resultado", "resultados") %> encontrados:
  <% else %>
    Nenum resultado encontrado
  <% end %>
</h2>

<% @posts.each  do |post| %>
  <%= render(post)%>
<% end %>
